.nav-container{
  display:flex;
  padding:15px;
  background-color: rgb(89, 97, 105);
}
.nav-objects{
  display:flex;
  margin-left: auto;
  gap: 10px; 
}

.profile-wrapper{
  position:relative;
}
.profile-container{
  display:flex;
  height: 150px;
  position:absolute;
  top: 100%; 
  right: 0;
}
.profile-contents{
  display:flex;
  flex-direction: column;
  margin-left:auto;
}

.profile-contents a{
  padding: 10px;
  background-color: bisque; 
}

