.side-bar{
  display: flex;
 
}

.bar-contents{
  display:flex;
  background-color: rgb(89, 97, 105);
  position:absolute;
  flex-direction: column;
  width:150px;
  height:1000px;
}

.bar-button{
  

}
