.cart{
  padding: 40px;
  background-color: rgb(185, 183, 174);
  margin: 20px;
  min-height: 100vh;
}

.item-container{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;

}

.items{
  display:flex;
  flex-direction: column;
  background-color: beige;
  border: 1px solid black;
  padding:10px;
  width:200px;
  align-items: center;

}

.item-container :hover{
  background-color: white;
  cursor: pointer;
}