.nav-container{
  display:flex;
  padding:15px;
  background-color: rgb(8, 97, 38);
}
.nav-container button{
  background-color: aliceblue;
  padding:5px;
  width: 50px;
  text-align: center;
  margin-right:10px;
  margin-left:10px;
  border-radius: 2px;
  border:none;
}
.nav-container button:hover{
  background-color:rgb(101, 85, 105) ;
}

.nav-container a{
  text-decoration: none;
  background-color: aliceblue;
  padding:5px;
  width: 50px;
  text-align: center;
  margin-right:10px;
  margin-left:10px;
  border-radius: 2px;
}

.nav-objects{
  display:flex;
  margin-left: auto;
  gap: 10px; 
}

.profile-wrapper{
  position:relative;
}
.profile-container{
  display:flex;
  height: 150px;
  position:absolute;
  top: 100%; 
  right: 0;
}

.profile-wrapper button{
  padding:8px;
  width:60px;
  text-align: center;
}

.profile-wrapper button :hover{
  background-color:rgb(8, 97, 38) ;
}
.profile-contents{
  display:flex;
  flex-direction: column;
  margin-left:auto;
}

.profile-contents a{
  
  padding: 10px;
  background-color: bisque; 
  text-decoration: none;
}

