.side-bar{
  display: flex;
}
.bar-contents{
  display:flex;
  background-color: rgb(89, 97, 105);
  position:absolute;
  flex-direction: column;
  width:200px;
  height:1000px;
}

.bar-contents a{
  text-decoration: none;
  padding:15px;
  background-color: rgb(54, 22, 22);
  color:white;
}

.bar-contents :hover{
  background-color: black;
}